
$header-height: 130px;
$footer-height: 1.6 * $header-height;
$full-width: 100%;

$copyright-padding: 14px;


// font sizes
$font-size-32px: 32px;

//sizes

// user dimensions
$user-width: 660px;
//$user-height: 200px;
$user-height: $full-width;
