
//triadic color scheme
$main-color: #5F5EA1;
$secondary-color: #A15F5E;
$tertiary-color: #5EA15F;


$header-color: $main-color;
$body-color: $secondary-color;
$footer-color: $main-color;
$button-color: $tertiary-color;

$user-color: $tertiary-color;
$photo-color: $tertiary-color;
