

//triadic color scheme
$main-color: #5f44bb;
$secondary-color: #bb5f44;
$tertiary-color: #44bb5f;

$header-color: $main-color;
$body-color: $secondary-color;
$footer-color: $main-color;
$button-color: $tertiary-color;

$user-color: $tertiary-color;
$photo-color: $tertiary-color;
