@import "src/assets/styles/all";

.header {
  width: 100%;
  height: $header-height;
  background-color: $header-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__navigation {
    margin: 26px;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  &__title {
    font-size: $font-size-32px;
    outline: 0;
    cursor: pointer;
  }

  &__nav-item {
    outline: 0;
    cursor: pointer;
  }

  &--active {
    color: $tertiary-color;
  }
}
