@import "assets/styles/all";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&display=swap');

$poppins: 'Poppins', serif;

// reset styles and apply a global font
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
}
